@import url("styles/header.css");

:root{
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --amarelo: #FECD2F;
    --roxo-degrade: linear-gradient(94.49deg, #733887 35.48%, #C75EEB 143.32%);
    --fonte-principal: "Poppins";
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

h1{
    background-color: white;
}