@import url("styles/header.css");

:root{
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --amarelo: #FECD2F;
    --roxo-degrade: linear-gradient(94.49deg, #733887 35.48%, #C75EEB 143.32%);
}

body{
    background-color: var(--cor-de-fundo);
}

h1{
    background-color: white;
}