.carrossel__titulo{
    color: var(--roxo);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 25px;
    padding-left: 35px;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}