.contato{
    background-color: var(--branco);
    padding: 1em;
}

.contato__titulo, .contato__texto{
    background: var(--roxo-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__texto{
    font-weight: 300;    
    margin: 1em 0;
}

.contato__titulo{
    font-weight: 500;
    font-size: 18px;
    margin: 1em 0;
}

.contato__email{
    padding: 1em;
    border: 1px solid var(--roxo);
    border-radius: 24px;
    width: 90%;
    color: var(--roxo);
}

.contato__email::placeholder{
    font-family: var(--fonte-principal);
    color: var(--roxo);
    background: url("../img/Email.svg") no-repeat;
    padding-left: 2em;
}

@media screen and (min-width: 1024px){
    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contato__titulo{
        font-size: 24px;
    }
    .contato__descrição{
        margin-right: 1em;
        width: 30%;
    }
    .contato__email{
        width: 30%;
    }    
}

@media screen and (min-width: 1728px) {
    .contato{
        padding: 3em 20vw;
    }
}